.btn {
	&-accent {
		display: inline-flex;

		padding: 11px 23px;

		color: var(--white-100);
		font-size: 16px;
		font-weight: 600;
		line-height: 125%;
		letter-spacing: 0.192px;
		white-space: nowrap;

		border-radius: 4px;
		background: var(--green);
		border: 1px solid transparent;
		transition: border 0.2s linear, background 0.2s linear, color 0.2s linear;

		&--big {
			padding: 16px 36px;
		}

		&:hover {
			@media (any-hover: hover) {
				background-color: transparent;
				border-color: var(--green);
				color: var(--green);
			}
		}
	}
	&-transparent {
		display: inline-flex;

		padding: 11px 23px;

		color: var(--green);
		font-size: 16px;
		font-weight: 600;
		line-height: 125%;
		letter-spacing: 0.192px;
		white-space: nowrap;

		border: 1px solid var(--green);
		background: var(--white-100);
		border-radius: 4px;
		transition: background 0.2s linear, color 0.2s linear;

		&:hover {
			@media (any-hover: hover) {
				color: var(--green);
				background-color: var(--green);
			}
		}
	}
	&-primary {
		padding: 16px 36px;

		color: var(--green);
		font-size: 16px;
		font-weight: 700;
		line-height: 125%;
		letter-spacing: 0.192px;
		white-space: nowrap;

		border-radius: 4px;
		background: var(--white-100);
		transition: background 0.2s linear, color 0.2s linear;

		&:hover {
			@media (any-hover: hover) {
				background: var(--green);
				color: var(--white-100);
			}
		}
	}
}
.link {
}
