// Transparent text when fucus
input, textarea {
	&::placeholder {
		transition: color 0.2s linear;
	}
	&:focus {
		&::placeholder {
			color: transparent !important;
		}
	}
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}